* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 10rem;
}

.container {
  height: 100vh;
}

.container img {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.main-title {
  position: absolute;
  font-size: 7rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}