* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 10rem;
}

.main-title {
  position: absolute;
  font-size: 7rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  height: 100vh;
}

.container img {
  position: absolute;
  height: 106vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  width: 100%;
  background: rgb(27, 22, 22);
  min-height: 110vh;
  z-index: 2;
  position: absolute;
}

.content-image {
  display: flex;
  justify-content: space-around;
  min-height: 70vh;
  align-items: center;
  text-align: center;
}

.text {
  font-size: 1.15rem;
  padding: 1.5rem 20rem;
}